*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
.main{
    text-align: center;
}
.heading{
    margin-bottom: 28px;
    font-size: 28px;
    font-family: "Caveat", cursive;
    font-weight: 800;
}
.quotes{
    text-align: center;
}
.quotes_output{
    height: 400px;
    width: 80%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid #222;
    background-color: #64F58D;
    /* #BC8DA7 */
    padding: 25px;
    font-size: 25px;
    color: #222;
    font-family: "Caveat", cursive;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.submit{
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: "Caveat", cursive;
    font-size: 20px;
    background-color: #FCDC4D;
    border: 2px solid #222;
    cursor: pointer;
}
.reset{
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: "Caveat", cursive;
    font-size: 20px;
    background-color: #FCDC4D;
    border: 2px solid #222;
    cursor: pointer;
}